################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.sonarqube/bin
/.sonarqube
/.vs
/bin/Debug/net8.0
